<?xml version="1.0" encoding="UTF-8"?>

    <manifest android:versionName="1.0"
    android:versionCode="1"
    package="com.main.toledo.gymtrackr"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-sdk android:targetSdkVersion="21"
        android:minSdkVersion="8"/>


    <application
        android:theme="@style/AppTheme"
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:allowBackup="true">

    <activity android:label="@string/app_name"
        android:noHistory="true"
        android:name="com.main.toledo.gymtrackr.BrowseActivity">
        <intent-filter>

            <action android:name="android.intent.action.MAIN"/>

            <category android:name="android.intent.category.LAUNCHER"/>

        </intent-filter>

    </activity>


    <activity
        android:label="@string/app_name"
        android:noHistory="true"
        android:name="com.main.toledo.gymtrackr.WorkspaceActivity">


        <!--<intent-filter>

        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
</intent-filter>-->


    </activity>

</application>

</manifest>